$primary-font-stack: 'Arial', sans-serif;
$secondary-font-stack: 'Georgia', sans-serif;
$requisites-font-stack: 'Times New Roman', sans-serif;
$primary-font-size: 15px;
$primary-font-weight: normal;
$primary-line-height: 24px;
$primary-color: #cdcdcd;
$primary-dark-color: #4c4c4c;
$secondary-color: #f1cdb3;
$secondary-text-color: #ffffff;
$btn-dark-color: #292929;
$light-bg-color: #fafafa;
$dark-bg-color: #f6f6f6;
$primary-title-color: #545454;
$primary-letter-spacing: 1.5px;

$icons: food, ambulance, ball, bowl, shampoo, pills, syringe, leash,  sleep;

$address-icons: envelope, telephone, pin;